#container
{
	margin: 0 30px;
	background: #FFFFFF;
}

#header
{
	background: #f9ca1f;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
    margin-bottom: 10px;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background-color: #a21ff9;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 250px;
    height: 500px;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background-color: #1fbbf9;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
}

#news h2 {text-align: center}

#footer
{
	clear: both;
	background: #f9ca1f;
	text-align: right;
	padding: 20px;
	height: 1%;
}
